
*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,900;1,900&display=swap');

:root{
    --cor1:#000000;
    --cor2: #1D1D1D;
    --cor3:white;
    --cor4: #D6B43E;
    --fontPrincipal: "Work Sans", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--cor2) ;
}

header{
    background: var(--cor4);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/*MENU*/

header > nav.nav-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

header > nav.nav-desktop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

header > nav.nav-desktop > a{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  color: var(--cor1);
  font-family: var(--fontPrincipal);
  margin-right: 5px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

nav.nav-desktop > a::after{
  content: '';
  height: 2px;
  width: 0%;
  background: var(--cor2);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

}

nav.nav-desktop > a:hover:after{
  content: '';
  height: px;
  width: 100%;
  background: var(--cor2);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}


nav.nav-mobile > img{
    width: 30px;
    height: 30px;
    display: flex;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--cor2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }

  .sidenav a > img{
    width: 30px;
    height: 30px;
    filter: invert();
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--cor4);
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/* fim do menu */



section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: aparecer 1s ease-in-out forwards;
    animation-timeline: view(block);
    animation-range: cover 0% cover 40%;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        display: none;
    }
    100%{
        display: flex;
        opacity: 1;
    }
}

article > h1{
    font-size: 30px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    padding: 10px 0px 10px 0px;
    position: relative;   
}

article > h1::after{
    content: '';
    height: 5px;
    width: 100%;
    background: var(--cor4);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
article.inicio{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: row;
    flex-wrap: nowrap;
    background: var(--cor1);
    position: relative;
}

article.inicio > div.container-txt{
    width: 80%;
    height: 150px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

div.container-txt > p{
    font-size: 20px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;

}
div.container-txt > h1{
    font-size: 30px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    padding: 10px 0px 10px 0px; 
}

div.container-txt > button{
    width: max-content;
    padding: 5px;
    height: 30px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    background-color: var(--cor2);
    border: 3px solid var(--cor4);
    border-radius: 20px;
    color: white;
    font-size: 14px; 
}
article.inicio > img{
    width: 300px;
    position: absolute; 
    right: -100px;
    bottom: 0px;
}
 

article.sobre{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 520px;
}

article.sobre > div.container-txt{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 200px;
}

article.sobre > div.container-txt > h1{
  font-size: 30px;
  font-family: var(--fontPrincipal);
  font-weight: bolder;
  color: white;
  padding: 10px 0px 10px 0px;
  position: relative;   
  text-align: left;
}

article.sobre > div.container-txt > h1::after{
  content: '';
  height: 5px;
  width: 100%;
  background: var(--cor4);
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

article.sobre > div.container-txt > p{
    margin: 10px 0px;
    width: 300px;
    font-size: 15px;
    font-family: var(--fontPrincipal);
    color: white;
    text-align: justify;
}

article.sobre > div.sobre-faixa{
    margin: 100px 0px;
    background: var(--cor4);
    width: 300px;
    height: 100px;
    right: 0px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-animation: fade-in-right 0.6s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 0.6s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
      display: none;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      display: flex;
    }
  }

  
div.sobre-faixa > img{
    width: 300px;
    position: absolute;
    top: -80px;
    left: -65px;
}


article.servicos{
    position: relative;
}

article.servicos > div.container-areas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


article.servicos > div.faixa{
    width: 100%;
    height: 100px;
    background: var(--cor4);
    top: 50%;
    position: absolute;
    z-index: -1;
}


div.container-areas > div.card{
    width: 300px;
    height: 300px;
    margin: 20px 0px;
    background: var(--cor2);
    border: 5px solid var(--cor4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 100;
}

div.card > h1{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    position: relative;
}

div.card > h1::after{
    content: '';
    height: 5px;
    width: 50%;
    background: var(--cor4);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

div.card > p{
    margin-top: 5px;
    font-size: 15px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    width: 80%;
    text-align: center;
}


article.processos > div.container-slides{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

div.container-slides > div.slide{
    width: 300px;
    height: 300px;
    background-color: var(--cor2);
    border: 3px solid var(--cor4);
    border-radius: 10px;
    display: none;
}

div.slide > img{
    width: 50px;
    height: 50px;
}

div.slide > h1{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    position: relative;
    padding: 5px;
}

div.slide > h1::after{
    content: '';
    height: 5px;
    width: 50%;
    background: var(--cor4);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

div.slide > p{
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: var(--fontPrincipal);
    font-weight: bolder;
    color: white;
    font-size: 14px;
}

div.container-slides > div.slide.foco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

article.processos > div.container-btns{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



div.container-btns > button{
    width: 50px;
    height: 30px;
    background-color: var(--cor2);
    border: 3px solid var(--cor4);
    border-radius: 10px;
    font-size: 10px;
    color: var(--cor4);
}

div.container-btns > button:hover{
    width: 50px;
    height: 30px;
    background-color: var(--cor4);
    border: 3px solid var(--cor2);
    border-radius: 10px;
    font-size: 10px;
    color: var(--cor3);
}


article.avaliacoes > div.card{
    margin-top: 100px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid var(--cor4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

article.avaliacoes > div.card > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    border: 2px solid var(--cor4);
}

article.avaliacoes > div.card > h1{
    color: var(--cor4);
    margin-top: 60px;
    font-size: 25px;
}

article.avaliacoes > div.card > h1::after{
    display: none;
}

article.avaliacoes > div.card > p{
    width: 90%;
    color: white;
    font-size: 13px;
}



footer{
    margin-top: 100px;
    width: 100%;
    height: 70px;
    background: var(--cor4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

footer > a.btnLink{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a.btnLink > img{
    width: 50%;
}

footer > a.btnLink:hover > img{
    filter: invert();
}

.btnLink,
.btnLink *,
.btnLink :after,
.btnLink :before,
.btnLink:after,
.btnLink:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btnLink {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
var(--cor2);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, var(--cor2));
  text-transform: uppercase;
}
.btnLink:disabled {
  cursor: default;
}
.btnLink:-moz-focusring {
  outline: auto;
}
.btnLink svg {
  vertical-align: middle;
}
.btnLink [hidden] {
  display: none;
}
.btnLink {
  background: 
hsla(0, 0%, 100%, 0.2);
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 100px;
  -webkit-mask-image: none;
  padding: 0;
  position: relative;
  transition: 0.2s;
  width: 100px;
}
.btnLink:hover {
  background: 
var(--cor2);
}
.btnLink svg {
  --size: 70px;
  fill: 
var(--cor2);
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
.btnLink:hover svg {
  fill: 
#000;
}
.btnLink:before {
  border: 5px solid 
var(--cor2);
  border-radius: 50%;
  content: "";
  inset: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(2);
  transition: 0.2s;
}
.btnLink:hover:before {
  opacity: 1;
  transform: scale(1);
}